body {
  margin: 0;
  height: 120vh;
  background: linear-gradient(to bottom, #000000, #4a2800);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
* {
  z-index: 1;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}
