.RlMain {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.RlH1 {
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin-top: 110px;
  line-height: 187.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.littleinfo {
  color: white;
  margin-left: 140px;
  margin-top: 65px;
}

.littleinfo h2 {
  font-weight: 600;
  font-size: 30px;
}

.littleinfo p {
  line-height: 187.5%;
  font-weight: normal;
  font-size: 16px;
}

.spider {
  margin-top: 35px;
  margin-left: 140px;
}
.points {
  position: absolute;
  z-index: -1;
  left: 965px;
  top: 1741px;
}

h6 {
  margin-top: 2000px;
}
