.Backgorundiv {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("../Images/BackImage.png");
  background-size: cover;
  background-position: center;
  height: 135vh;
  margin: 100px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.HedInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

#backH1 {
  font-size: 29px;
  line-height: 188%;
  text-align: center;
}

#backP {
  line-height: 187.5%;
  text-align: center;
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 70px;
}

.icons .icon:nth-child(5),
.icons .icon:nth-child(6) {
  grid-column: span 2;
  justify-self: center;
}

.icon {
  text-align: center;
}

@media (max-width: 1200px) {
  .Backgorundiv {
    gap: 90px;
  }
  .icons {
    gap: 60px;
  }
}

@media (max-width: 992px) {
  .icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  .icons .icon:nth-child(5),
  .icons .icon:nth-child(6) {
    grid-column: span 1;
    justify-self: center;
  }
}
@media (max-width: 768px) {
  .icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .Backgorundiv {
    height: 175vh;
  }
}
@media (max-width: 576px) {
}
