.Backgorundiv {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("../Images/BackImage.png");
  background-size: cover;
  background-position: center;
  height: 128vh;
  width: 100%;
}

.Maindiv {
  width: 1045px;
  height: 696px;
}

.HedInfo {
  width: 826;
  height: 197px;
}
#backH1 {
  font-size: 29px;
  line-height: 188%;
  display: flex;
  text-align: center;
}
#backP {
  line-height: 187.5%;
  display: flex;
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: column;
}

.topicon {
  display: flex;
  text-align: center;
  gap: 70px;
}
.bottomicon {
  display: flex;
  text-align: center;
  gap: 150px;
}
