.Backgorundiv {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("../Images/BackImage.png");
  background-size: cover;
  background-position: center;
  height: 128vh;
  margin: 100px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.HedInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

#backH1 {
  font-size: 29px;
  line-height: 188%;
  text-align: center;
}

#backP {
  line-height: 187.5%;
  text-align: center;
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 sütun */
  grid-template-rows: auto auto; /* 2 satır */
  gap: 70px;
}

.icons .icon:nth-child(5),
.icons .icon:nth-child(6) {
  grid-column: span 2; /* 5. ve 6. öğe iki sütunu kaplar */
  justify-self: center; /* Öğeleri ortalar */
}

.icon {
  text-align: center;
}
