.FooterMain {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  background-color: #070707;
  height: 280px;
}

.FooterLogo {
  display: inline-block;
  flex-direction: column;
  img {
    width: 68px;
    height: 37px;
  }
  .LogoInfo {
  }
}

.Fabout {
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 17px;
    font-weight: 500;
  }
  .Pcontainer {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}

.FooterContact {
}

.FooterIcons {
  img {
  }
}
