.navbar {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.all-Links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.headlogo {
  width: 120px;
  height: 100px;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  gap: 88px;
}

a {
  text-decoration: none;
}
.btn-contact {
  background-color: #fa9021;
  padding: 10px 26px;
  border-radius: 6px;
  font-size: 13px;
}

.toggleMenu {
  cursor: pointer;
  display: none;
}

@media (max-width: 1200px) {
  .link {
    gap: 64px;
  }
}

@media (max-width: 992px) {
  .all-Links {
    gap: 24px;
  }

  .link {
    gap: 52px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
  }
  .btn-contact {
    padding: 8px 22px;
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .headlogo {
    width: 150px;
  }
  .btn-contact {
    display: none;
  }
  .navbar {
    z-index: 0;
    position: relative;
  }
  .link {
    background-color: #fa9021;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
  }
  a {
    padding: 5px 0;
  }

  a:hover {
    background-color: #ffffff;
    color: black;
    width: 100%;
    text-align: center;
  }
  .toggleMenu {
    display: block;
  }
}

@media (max-width: 576px) {
}
