.ProjectMain {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 140px 0;
}
.ProjectTitle {
  margin-bottom: 75px;
}
.ProjectH1 {
  font-size: 30px;
  text-align: center;
  line-height: 187.5%;
}

.ProjectP {
  font-size: 14px;
  text-align: center;
}

.ProjectImgs {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-bottom: 60px;
  margin: auto;
}

.PImg1,
.PImg2,
.PImg3,
.PImg4,
.PImg5,
.PImg6 {
  width: 100%;
  height: 240px;
  margin: 0;
  border-radius: 16px;
}

.Seeall {
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .ProjectImgs {
    grid-template-columns: auto auto;
    gap: 20px;
    width: 90%;
  }
}
@media (max-width: 768px) {
  .ProjectImgs {
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    margin: auto;
  }
  .imgs {
    width: 100%;
  }

  .PImg5,
  .PImg6 {
    display: none;
  }
  .ProjectMain {
    width: 600px;
  }
}
@media (max-width: 576px) {
  .ProjectImgs {
    grid-template-columns: auto;
    gap: 20px;
  }
  .PImg1,
  .PImg2,
  .PImg3,
  .PImg4,
  .PImg5,
  .PImg6 {
    width: 85%;
    height: 240px;
    margin: auto;
  }
}
