.ProjectMain {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ProjectTitle {
  margin-top: 145px;
}
.ProjectH1 {
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  line-height: 187.5%;
}

.ProjectP {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  margin-top: 16px;
}

.ProjectImgs {
  margin-top: 73px;
  margin-left: 127px;
}
#PImg1,
#PImg2 {
  width: 365px;
}

#PImg3 {
  width: 335px;
}

#PImg4 {
  width: 235px;
}

#PImg5 {
  width: 380px;
}

#PImg6 {
  width: 445px;
}

img {
  margin-right: 24px;
}

.bottomimg {
  margin-top: 22px;
}

.Seeall {
  text-align: center;
  margin: 41px auto 0 auto;
}
