.ProjectMain {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ProjectTitle {
}
.ProjectH1 {
  font-size: 30px;
  text-align: center;
  line-height: 187.5%;
}

.ProjectP {
  font-size: 14px;
  text-align: center;
}

.ProjectImgs {
}
#PImg1,
#PImg2 {
  width: 365px;
}

#PImg3 {
  width: 335px;
}

#PImg4 {
  width: 235px;
}

#PImg5 {
  width: 380px;
}

#PImg6 {
  width: 445px;
}

img {
}

.bottomimg {
}

.Seeall {
  text-align: center;
}
