.SRCFooterMain {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #070707;
  height: 80px;
  border-top: solid 1px #ccc;

  p {
    text-align: center;
    font-size: 13px;
    line-height: 190.6%;
  }
}
