.SubMain {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.SubTitle {
  margin-left: 127px;
  margin-top: 85px;
}

.SubH1 {
  font-weight: 600;
  font-size: 30px;
}

.SubP {
  line-height: 187.5%;
}

.SubNews {
  display: flex;
  width: 1109px;
  height: 180px;
  margin-left: 127px;
  margin-top: 50px;

  background: rgba(255, 255, 255, 0.11);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.NewsTitle {
  display: inline-block;
  margin-left: 50px;
  margin-top: 30px;
}
.NewsH2 {
  font-weight: 500;
  font-size: 30px;
  margin: 8px 0;
}

.NewsP {
  margin: 0;
}

.Inputdiv {
  background-color: white;
  display: inline-block;
  margin-left: 155px;
  height: 48px;
  width: 385px;
  border-radius: 8px;
  margin-top: 67px;
  input {
    text-align: center;
    border: none;
    height: 46px;
    /* padding: 15px 0 15px 8px; */
    border-radius: 8px;
    outline: none;
    box-shadow: none;
    caret-color: black;
    color: black;
  }
  button {
    background-color: #dc7000;
    border-radius: 8px;
    border: none;
    width: 105px;
    height: 37px;
    margin-left: 100px;
    cursor: pointer;
  }
}
