.SubMain {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.SubTitle {
}

.SubH1 {
  font-weight: 600;
  font-size: 30px;
}

.SubP {
  line-height: 187.5%;
}

.SubNews {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 70px auto;
  width: 1109px;
  height: 180px;

  background: rgba(255, 255, 255, 0.11);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.NewsTitle {
  display: inline-block;
}
.NewsH2 {
  font-weight: 500;
  font-size: 30px;
  margin: 5px 0 15px 0;
}

.NewsP {
  margin: 0;
}

.Inputdiv {
  background-color: white;
  display: inline-block;
  height: 48px;
  width: 385px;
  border-radius: 8px;

  input {
    text-align: center;
    border: none;
    height: 46px;
    border-radius: 8px;
    outline: none;
    box-shadow: none;
    caret-color: black;
    color: black;
  }
  button {
    background-color: #dc7000;
    border-radius: 8px;
    border: none;
    width: 105px;
    height: 37px;
    cursor: pointer;
    margin-left: 100px;
  }
}

@media (max-width: 1200px) {
  .SubNews {
    margin: 70px auto;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .Inputdiv {
    display: flex;
    justify-content: space-between;
    height: 48px;
    width: 320px;

    input {
      width: 110px;
      height: 46px;
    }
    button {
      margin-top: 5px;
      margin-right: 5px;
      width: 85px;
      height: 37px;
    }
  }
}
@media (max-width: 768px) {
  .Inputdiv {
    display: flex;
    justify-content: space-between;
    height: 48px;
    width: 250px;

    input {
      width: 70px;
      height: 46px;
    }
    button {
      margin-top: 5px;
      margin-right: 5px;
      width: 75px;
      height: 37px;
    }
  }
}
@media (max-width: 576px) {
}
