.Trendmain {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.trendHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TrendH2 {
  font-size: 31px;
  font-weight: bold;
}

.seeP {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  background-color: #ffffff20;
  padding: 12px 32px;
  border-radius: 10px;
  text-align: center;
}

.trendgames {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.follownum {
  display: flex;
  align-items: center;
  gap: 10px;
}

#FolloP {
  font-size: 22px;
}

@media (max-width: 1200px) {
  .trendgames {
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 60px;
  }
}

@media (max-width: 992px) {
  .trendgames {
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 60px;
  }
}
@media (max-width: 768px) {
  .trendgames {
    grid-template-columns: auto auto;
    gap: 30px;
  }

  .TrendH2 {
    font-size: 25px;
    font-weight: 600;
  }

  .seeP {
    font-weight: 400;
    font-size: 16px;
    padding: 12px 26px;
  }
}
@media (max-width: 576px) {
  .trendgames {
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .TrendH2 {
    font-size: 24px;
    font-weight: 500;
  }

  .seeP {
    font-weight: 400;
    font-size: 16px;
    padding: 11px 22px;
  }
  .gameimg {
    width: 221px;
    height: 247;
  }
}
